In [8]:
import pandas as pd
import numpy as np

books = pd.read_csv('Books.csv',dtype=str)

In [10]:
users = pd.read_csv('Users.csv')

In [12]:
ratings = pd.read_csv('Ratings.csv')
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

## Popularity Based Recommender System